<h2 class="text-center">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="field mb-3">
    <%= f.text_field :name, class: "form-control", class: "form-control", placeholder: "Name"  %>
  </div>

  <div class="field mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email"  %>
  </div>

  <div class="field ">
    <%= f.text_field :role, placeholder: "Choose role - 'user', 'author', 'admin'" , class: "form-control"%>
  </div>

  <div class="field mb-3">
    <% if !@minimum_password_length %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password"  %>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password (#{ @minimum_password_length } characters minimum)"  %>
  </div>

  <div class="field mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Password confirmation"  %>
  </div>

  <div class="actions w-25 m-auto d-grid gap-2 ">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
