<ul class="user-posts-list">
    <li class="user-card">
        <div class="img-holder">
            <% if @user.photo %>
                <%= image_tag @user.photo, class: "user-img"%>
                <% else %>
                <%= image_tag "default.png", class: "user-img"%>
            <% end %>
        </div>
        <div class="card-details">
        <h4 class="user-name"><%= @user.name %></h4>
        <p class="num-of-posts">Number of posts : <%= @user.post_count %></p>
        </div>
    </li>
    <% @user_posts.each do |post| %>
    <li class="user-card">
       
            <div class="card-details">
                <h6 class="post-title">
                    <a href="<%= user_post_path(@user, post) %>">  
                        <%= post.title %></h6>
                    </a>
                <p class="post-brief"><%= post.text %></p>
                <p class="num-of-posts">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
              
            </div>
        
        <%= button_to "Like", post_likes_path(user_id: post.author_id, post_id: post.id), method: :post, class: 'like-button' %>
        <% if can? :destroy, post %>
            <%= link_to 'Delete', destroy_user_post_path(user_id: post.author_id, id: post.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

    </li>
      <% if !post.comments.empty? %>
        <div class="comments-card">
            <% post.recent_comments.each do |comment| %>
                <% user = User.find(comment.user_id) %>
                <p class="post-brief"><strong><%= user.name%>:</strong> <%= comment.text %></p>
            <% end %>
        </div>
      <% end %>
    <br/>
    <% end %>
</ul>
<div class="d-grid gap-2 w-25 m-auto">
<%= link_to 'Add Post', new_user_post_path, class: 'btn btn-primary' %> 
<%= link_to user_posts_path(@user), class: 'btn btn-primary' do %>
  Show all posts
<% end %>
</div>